@model BeoordelingProject.ViewModel.AccountbeheerVM
@using (Html.BeginForm())
{
    <p>
        Kies een student:
    </p>
        @Html.ListBoxFor(a => a.SelectedStudent, Model.Studenten, new {@class = "listbox" })
    <p>
        Kies een gebruiker:
    </p>
    @Html.ListBoxFor(a => a.SelectedAccount, Model.Accounts, new {@class="listbox" })

}