*
{
	font-family: Arial,Tahoma,sans-serif;
	padding: 0;
	margin: 0;
}

#container
{
	padding: 20px;
    
    width: 960px; 
    
    margin: 0 auto;
    padding-top:95px;

    background-color: rgb(252,252,252);
    color: #000000;

    overflow: auto;
    
}

html
{
    height:100%;
	min-height:100%;
    position:relative
}

body
{
	width:100%;
	height:100%;
	background-color: #3CB6DF;
}

header{
    width: 100%; 
    height: 95px;
    background-color: #4D8FBD;
    position:fixed;
    
}

li
{
    list-style:none;
}

.actionbutton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;

	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:35px;
	line-height:35px;
	width:100%;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
    cursor:pointer;
    margin-top:5px;
}

.actionbutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.actionbutton:active {
	position:relative;
	top:1px;
}

.addUser{
    column-span:all;
}

.loginbutton
{
    width:50%;
    float:right;
}

.textbox
{
    background: white; 
    border: 1px solid #DDD; 
    border-radius: 5px; 
    box-shadow: 0 0 5px #DDD inset; 
    color: #666; 
    outline: none; 
    padding:2px;
    width:100%;
}

#inklapdiv {

    height: 100%;
}

.studentrolSelectlist {
    margin-top: 10px;
}

.errorViewbag
{
    color:#ff0000;
}

.gebruikerinfo
{
    float: left;
    margin-left:5px;
    margin-bottom:20px;
}
.gebruikerinfo input[type="submit"]
{
    float: left;
    margin-top: 15px;
}

.studentrolinfo
{
    padding-top: 5px;
    float: right;
    margin-right: 5px;
    margin-bottom:50px;
}

.tablebutton
{
    display:inline-block;
    width: 100%;
}

.AddDeleteTable
{
    width:0%;
    float:right;
}

.addDeleteButton
{
    float:right;
    height:30px;
    width:30px;
    margin-left:10px;
}

.studentrollen
{
    margin-top:60px;
}

.header
{
    position:absolute;
    top:0px;
    bottom:0;
    left:0;
    right:0;

    height: 95px;

    width: 1000px; 
    right:0; 

    width: 960px; 
    margin: 0 auto;
    
}

label
{
    font-size:14px;
}

.username
{
    font-size:14px;
    float:right;
}
.uitloggen
{
    font-size:14px;
    float:right;
    color:#000000;
    margin-left:3px;
}
.uitloggen:hover
{
    color:#ec008c;
}

<<<<<<< HEAD
#container
{
	padding: 20px;
    
    width: 960px; 
    
    margin: 0 auto;
    padding-top:120px;

    background-color: rgb(252,252,252);
    color: #000000;

	height: 100%;
    overflow: auto;
    
}

=======
>>>>>>> 1831fc6630f639a869838b2e3bf3f4c132c0e51c
.link
{
    color:#000000;
    font-size:13px;
}

.link:hover
{
    color:#ec008c;
}

.sort-true
{
    background: no-repeat right center url("img/pijl_up.png");
}

.sort-true img
{

}

.sort-false
{
    background: no-repeat right center url("img/pijl_down.png");
}

.verwijder
{
    width:200px;
    padding:3px;
    margin-left:-1px;
}

/* Rapport CSS */
.rapport
{
    background-color:white;
    margin-top:-10px;
    height:1350px;
}

/* Top banner */
#banner
{
	width:100%;
	height:95px;
    position:fixed;
	/* lichtblauw
	background-color: #3CB6DF; */
}


/* Login box */
#loginbox
{
	width: 55%;
	height: auto;

	margin-top: 20px;
	margin-bottom: 20px;

	margin-left: auto;
	margin-right: auto;

	padding: 30px;

	border: solid;
	border-width: 1px;
	border-radius: 15px;
    border-color: #C9C9C9;
}

/* Helpfunction box */
#scroll
{
	position: fixed;
	top: 10px;
	right: 20px;

	width: 75px;
	height: 75px;

	background-image: url("img/help.png");
	background-position: center;
	background-repeat: no-repeat;

	border-radius: 20px;

	background-color: #4D8FBD;
}

#help
{
	position:absolute;
	top:10px;
	right:0px;

	width: 75px;
	height: 75px;

	background-image: url("img/help.png");
	background-position: center;
	background-repeat: no-repeat;

	border-radius: 20px;

	background-color: #3379ab;
    cursor:pointer;
}

#helpclick
{
	position:absolute;
	word-wrap:break-word;

	color: #FFFFFF;

	padding: 10px;
	
	top:100px;
	
	left:0;
	right:0;

	margin-left: auto;
	margin-right: auto;

	width:80%;
	height: auto;
	background-color: #4D8FBD;
    cursor:pointer;
}

#clickscroll
{
	position:fixed;
	word-wrap:break-word;

	color: #FFFFFF;

	padding: 10px;
	
	top:20px;
	
	left:0;
	right:0;

	margin-left: auto;
	margin-right: auto;

	width:80%;
	height:10%;
	background-color: #4D8FBD;
}

/* opties en statistieken knop */
.opties
{
	position:absolute;
	top:10px;
	right:95px;

	width: 75px;
	height: 75px;

	background-image: url("img/opties.png");
	background-position: center;
	background-repeat: no-repeat;

	border-radius: 20px;

	background-color: #3379ab;
    cursor:pointer;
}

.opties:hover, .stats:hover, #help:hover{
    background-color:#3CB6DF;
}

.stats
{
	position:absolute;
	top:10px;
	right:190px;

	width: 75px;
	height: 75px;

	background-image: url("img/stats.png");
	background-position: center;
	background-repeat: no-repeat;

	border-radius: 20px;

	background-color: #3379ab;
    cursor:pointer;
}

.logo {
    /*background-image: url("img/logo_edit.png");
	background-repeat: no-repeat;

    background-color: #4D8FBD;*/

    height: 75px;

	margin-left: 0px;
	margin-top: 10px;
    cursor:pointer;
}
/* vergeten waarvoor dit was */
.selectie
{
	display: block;
	width: 75%;
	height: 100px;

	font-size: 32px;
	text-align: center;

	border-radius: 20px;

	margin-top: 10px;
	margin-bottom: 10px;
	margin-left:auto;
	margin-right:auto;
}

/* left div (split page into two) */
.left
{
	float: left;
	width: 50%;
	text-align: right;

	margin-bottom: 10px;
}

.left input
{
	float: right;
}

/* right div (split page into two) */
.right
{
	float:right;
	width:50%;
	text-align: left;

	margin-bottom: 10px;
}

/* center div (place under split divs) */
.center
{
	float:left;
	width: 100%;
	text-align: center;
}

.center input
{
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}
input
{
    font-size: 14px;
	display:inline;
}

/* combobox met studentnamen/accounts */

.accountdiv
{
    float:left;
    margin-right:15px;
}

/* zoekbar en button */
.zoek
{
	display: inline;
	height: 18px;
    width:196px;
	font-size: 16px;

	border-style: solid;
	border-width: 1px;

	padding: 2px;
	margin: 0;
    background-image: url("img/zoek.png");
    background-position: right;
    background-repeat: no-repeat;
}

.zoekbutton
{
	display: inline;
	width: 20px;
	height: 20px;

	margin-top: 20px;
	border-style: none;

	background-color: #4D8FBD;
	background-image: url("img/zoek.png");
	background-position: center;
	background-repeat: no-repeat;
}

/* grote radiobuttons voor score ingeven */
.rbMatrices
{
	display: inline;
	width: 60px;
	height: 60px;
	text-align: center;

    -moz-appearance: none;
}

/* lichte margin voor verticale alignment van checkbox */
input[type=checkbox]
{
	margin-top: 9px;
}

/* tables */
table
{
	border-style: none;
	width: 100%;
    border-collapse:initial;
}

th
{
	text-align: center;
	border-style: none;
}
td
{
   padding-top:10px;
}

/* td met uitleg op beoordeling scherm */
#beoordelingtabel td
{
	max-width: 960px;
	word-wrap:break-word;

	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	border-radius: 15px;

	padding: 10px;
	font-size: 16px;
}

.studentkeuze{
    margin-top:40px;
}

/* Aspecten beoordelingtabel */
.aspect
{
	background-color: #000000;
	color: #FFFFFF;
	font-size: 22px;
}

/* deelaspact met knop voor uitklappen VERANDEREN */
.expanderPlus
{
	background-color: #C9C9C9;
	background-image: url("img/plus.png");
	background-position: left;
	background-repeat: no-repeat;

	color: #000000;
	font-size: 16px;
	height: 35px;

	cursor:pointer;
    text-align:center;
}

/* deelaspect met knop voor inklappen VERANDEREN */
.collapseMin
{
	background-color: #fff600;
	background-image: url("img/min.png");
	background-position: left;
	background-repeat: no-repeat;

	color: #000000;
	font-size: 16px;
	height: 35px;
    text-align:center;

	cursor:pointer;
}

/* th waar de radiobuttons in staan in beoordeling scherm */
.buttons th
{
	border-style:solid;
	border-width: 1px;
	border-radius: 10px;
}

/* overzicht tabel */
#overzicht
{
	width: 100%;
	border-style: solid;
	border-width: 1px;
}

/* studentlijst tabel */
.studentlist
{
	text-align: center;
    margin-top: 10px;
    clear: both;
}

.studentlist td
{
	border-style: solid;
	border-width: 1px;
	padding: 5px;
}


/* namen zullen niet gecentreerd staan */
.studentlist tr:first-child th:first-child
{
	width: 30%;
	text-align: center;
}

.studentlist td:first-child
{
	text-align: left;
}

/* witte streep aan de rechterkant om makkelijk het einde af te bakenen */
.studentlist th
{
    width: 10%;
	background-color: #000000;
	color: #FFFFFF;
	border-right-style: solid;
	border-right-width: 1px;
	border-color: #FFFFFF;

	padding: 5px;
}

/* de laatste th heeft geen streep meer nodig */
.studentlist th:last-child
{
	border-style: none;
}

/* studentlijst tabel */
.statslist
{
	text-align: center;
    margin-top: 10px;
    clear: both;
}

.statslist td
{
	border-style: solid;
	border-width: 1px;
	padding: 5px;
    width:50%;
    padding-left:30px;
}


/* namen zullen niet gecentreerd staan */
.statslist tr:first-child th:first-child
{
	width: 30%;
	text-align: center;
}

.statslist td:first-child
{
	text-align: left;
}

/* witte streep aan de rechterkant om makkelijk het einde af te bakenen */
.statslist th
{
    width: 10%;
	background-color: #000000;
	color: #FFFFFF;
	border-right-style: solid;
	border-right-width: 1px;
	border-color: #FFFFFF;

	padding: 5px;
}

/* de laatste th heeft geen streep meer nodig */
.statslist th:last-child
{
	border-style: none;
}

/*User table*/
.userlist
{
	text-align: center;
    margin-top: 10px;
    clear:both;
}

.userlist td
{
    border-bottom: 1px solid #C9C9C9;
    border-left: 1px solid #C9C9C9;
	padding: 5px;
}

.userlist tr:first-child th:first-child
{
	width: 100%;
	text-align: center;
}

.userlist td:first-child
{
	text-align: left;
    border-left: none;
}

.userlist th
{
    width: 10%;
	background-color: #000000;
	color: #FFFFFF;
	border-right-style: solid;
	border-right-width: 1px;
	border-color: #FFFFFF;

	padding: 5px;
}

.userlist td:last-child
{
    border-left: none;
}

.userlist th:last-child
{
	border-style: none;
}

/* div met richtingnaam + uitklapknop */
.richting
{
	cursor:pointer;

	height: 40px;
	line-height: 40px;

	padding-left: 40px;

	margin-top: 10px;
	margin-bottom: 10px;
	
	font-size: 20px;
	
	background-color: #C9C9C9;
	background-image: url("img/plus.png");
	background-repeat: no-repeat;
	background-position: left;

	font-weight: bold;
}

/* zie hierboven, inklapknop */
.richtingmin
{
	cursor:pointer;

	line-height: 40px;
	height: 40px;

	padding-left: 40px;
	
	margin-top: 10px;
	margin-bottom: 10px;

	font-size: 20px;
	
	/*background-color: #00FF00;*/
    background-color: #fff600;
	background-image: url("img/min.png");
	background-repeat: no-repeat;
	background-position: left;

	font-weight: bold;
}

h1
{
	font-size: 18px;
	margin-top: 5px;
	margin-bottom: 5px;
}

h2
{
    font-size:18px;
    margin-top: 5px;
	margin-bottom: 5px;
    margin-left:15px;
    font-weight:normal;
}

h3
{
    font-size:14px;
    float:right;
    margin-top:25px;
    font-weight:normal;
}

span
{
	display: block;
}

/* Validatie styling */

.field-validation-error
{
    color:#ff0000;
    font-size:12px;
    padding-left:5px;
}
.input-validation-error
{
    border:1px solid #ff0000;
    background-color:#ffeeee;
}
.field-validation-valid
{
    display:none;
}

.validation-summary-errors
{
    font-weight:bold;
    color:#ff0000;
}
.validation-summary-valid
{
    display:none;
}

/* File input */

.upload {
    width: 100px;
    height: 30px;
    background-image: url("img/upload-button02.png");
    background-size:100px 30px;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    float:left;
    margin-top:10px;
}
.upload:hover
{
    background-image: url("img/Upload.png");
}

.upload input {
    width: 100px;
    height: 30px;
    opacity: 0;
    overflow: hidden;
}
.filetext
{
    background: white; 
    border: 1px solid #DDD; 
    border-radius: 5px; 
    box-shadow: 0 0 5px #DDD inset; 
    color: #666; 
    outline: none; 
    padding:2px;
    width:98%;
}

#feedback
{
    width: 100%;
    height: 200px;
}
