*
{
	font-family: Arial,Tahoma,sans-serif;
	padding: 0;
	margin: 0;
}

html
{
	min-height:100%;
    position:relative
}

body
{
	width:100%;
	height:100%;
	background-color: #3CB6DF;
}

header{
    width: 100%; 
    height: 95px;
    background-color: #4D8FBD;
    
}

.header
{
    position:absolute;
    top:0px;
    bottom:0;
    left:0;
    right:0;

    height: 95px;

    

    width: 1000px; 
    right:0; 

    width: 960px; 
    margin: 0 auto;
    
}

#container
{
	padding: 20px;
    
    width: 960px; 
    
    margin: 0 auto;

    background-color: #FFFFFF;
    color: #000000;

	height: 100%;
}

.link
{
    color:#000000;
}

.link:hover
{
    color:#ec008c;
}

/* Rapport CSS */
.rapport
{
    background-color:white;
    margin-top:-10px;
    height:1350px;
}

/* Top banner */
#banner
{
	width:100%;
	height:95px;
	/* lichtblauw
	background-color: #3CB6DF; */
}


/* Login box */
#loginbox
{
	width: 480px;
	height: 75px;

	margin-top: 20px;
	margin-bottom: 20px;

	margin-left: auto;
	margin-right: auto;

	padding: 10px;

	border: solid;
	border-width: 1px;
	border-radius: 15px;
}

.login
{
    margin-left: 15px;
}

/* Helpfunction box */
#scroll
{
	position: fixed;
	top: 10px;
	right: 20px;

	width: 75px;
	height: 75px;

	background-image: url("img/help.png");
	background-position: center;
	background-repeat: no-repeat;

	border-radius: 20px;

	background-color: #4D8FBD;
}

#help
{
	position:absolute;
	top:10px;
	right:0px;

	width: 75px;
	height: 75px;

	background-image: url("img/help.png");
	background-position: center;
	background-repeat: no-repeat;

	border-radius: 20px;

	background-color: #3379ab;
}

#helpclick
{
	position:absolute;
	word-wrap:break-word;

	color: #FFFFFF;

	padding: 10px;
	
	top:100px;
	
	left:0;
	right:0;

	margin-left: auto;
	margin-right: auto;

	width:80%;
	height: auto;
	background-color: #4D8FBD;
}

#clickscroll
{
	position:fixed;
	word-wrap:break-word;

	color: #FFFFFF;

	padding: 10px;
	
	top:20px;
	
	left:0;
	right:0;

	margin-left: auto;
	margin-right: auto;

	width:80%;
	height:80%;
	background-color: #4D8FBD;
}

/* opties en statistieken knop */
.opties
{
	position:absolute;
	top:10px;
	right:95px;

	width: 75px;
	height: 75px;

	background-image: url("img/opties.png");
	background-position: center;
	background-repeat: no-repeat;

	border-radius: 20px;

	background-color: #3379ab;
}

.stats
{
	position:absolute;
	top:10px;
	right:190px;

	width: 75px;
	height: 75px;

	background-image: url("img/stats.png");
	background-position: center;
	background-repeat: no-repeat;

	border-radius: 20px;

	background-color: #3379ab;
}

.logo {
    background-image: url("img/logo_edit.png");
	background-repeat: no-repeat;

    background-color: #4D8FBD;

    height: 75px;

	margin-left: 0px;
	margin-top: 10px;
}
/* vergeten waarvoor dit was */
.selectie
{
	display: block;
	width: 75%;
	height: 100px;

	font-size: 32px;
	text-align: center;

	border-radius: 20px;

	margin-top: 10px;
	margin-bottom: 10px;
	margin-left:auto;
	margin-right:auto;
}

/* left div (split page into two) */
.left
{
	float: left;
	width: 50%;
	text-align: right;

	margin-bottom: 10px;
}

.left input
{
	float: right;
}

/* right div (split page into two) */
.right
{
	float:right;
	width:50%;
	text-align: left;

	margin-bottom: 10px;
}

/* center div (place under split divs) */
.center
{
	float:left;
	width: 100%;
	text-align: center;
}

.center input
{
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}
input
{
    font-size: 14px;
	display:inline;
	margin: 5px;
}

label,input[type="checkbox"]
{
	font-size: 14px;
	display:inline;
	margin: 5px;
}

/* combobox met studentnamen/accounts */
select
{
	width: 100%;
}

.listbox
{
	list-style: none none inside;
    margin: 0;
    padding: 0;
    cursor: pointer;
    
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;

    width: 200px;
    margin-left: 15px;
    margin-right: auto;
}

.listbox li
{
	text-align: left;
    border-style: solid;
    border-width: 1px;
    padding: 3px;
}

.accountdiv
{
    float:left;
}

/* zoekbar en button */
.zoek
{
	display: inline;
	height: 18px;
	font-size: 16px;

	border-style: solid;
	border-width: 1px;

	padding: 0;
	margin: 0;
    background-image: url("img/zoek.png");
    background-position: right;
    background-repeat: no-repeat;
}

.zoekbutton
{
	display: inline;
	width: 20px;
	height: 20px;

	margin-top: 20px;
	border-style: none;

	background-color: #4D8FBD;
	background-image: url("img/zoek.png");
	background-position: center;
	background-repeat: no-repeat;
}

/* grote radiobuttons voor score ingeven */
input[type=radio]
{
	display: inline;
	width: 60px;
	height: 60px;
	text-align: center;

    -moz-appearance: none;
}

/* lichte margin voor verticale alignment van checkbox */
input[type=checkbox]
{
	margin-top: 9px;
}

/* tables */
table
{
	border-style: none;
	width: 100%;
	table-layout: fixed;
}

th
{
	text-align: center;
	border-style: none;
}

/* td met uitleg op beoordeling scherm */
#beoordelingtabel td
{
	max-width: 960px;
	word-wrap:break-word;

	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	border-radius: 15px;

	padding: 10px;
	font-size: 16px;
}

/* Aspecten beoordelingtabel */
.aspect
{
	background-color: #000000;
	color: #FFFFFF;
	font-size: 22px;
}

/* deelaspact met knop voor uitklappen */
.deelaspectplus
{
	background-color: #C9C9C9;
	background-image: url("img/plus.png");
	background-position: left;
	background-repeat: no-repeat;

	color: #000000;
	font-size: 16px;
	height: 35px;

	cursor:pointer;
}

/* deelaspect met knop voor inklappen */
.deelaspectmin
{
	background-color: #00FF00;
	background-image: url("img/min.png");
	background-position: left;
	background-repeat: no-repeat;

	color: #000000;
	font-size: 16px;
	height: 35px;

	cursor:pointer;
}

/* th waar de radiobuttons in staan in beoordeling scherm */
.buttons th
{
	border-style:solid;
	border-width: 1px;
	border-radius: 10px;
}

/* overzicht tabel */
#overzicht
{
	width: 100%;
	border-style: solid;
	border-width: 1px;
}

/* studentlijst tabel */
.studentlist
{
	text-align: center;
}

.studentlist td
{
	border-style: solid;
	border-width: 1px;
	padding: 5px;
}

/* namen zullen niet gecentreerd staan */
.studentlist tr:first-child th:first-child
{
	width: 30%;
	text-align: center;
}

.studentlist td:first-child
{
	text-align: left;
}

/* witte streep aan de rechterkant om makkelijk het einde af te bakenen */
.studentlist th
{
    width: 10%;
	background-color: #000000;
	color: #FFFFFF;
	border-right-style: solid;
	border-right-width: 1px;
	border-color: #FFFFFF;

	padding: 5px;
}

/* de laatste th heeft geen streep meer nodig */
.studentlist th:last-child
{
	border-style: none;
}

/* div met richtingnaam + uitklapknop */
.richting
{
	cursor:pointer;

	height: 40px;
	line-height: 40px;

	padding-left: 40px;

	margin-top: 10px;
	margin-bottom: 10px;
	
	font-size: 20px;
	
	background-color: #C9C9C9;
	background-image: url("img/plus.png");
	background-repeat: no-repeat;
	background-position: left;

	font-weight: bold;
}

/* zie hierboven, inklapknop */
.richtingmin
{
	cursor:pointer;

	line-height: 40px;
	height: 40px;

	padding-left: 40px;
	
	margin-top: 10px;
	margin-bottom: 10px;

	font-size: 20px;
	
	/*background-color: #00FF00;*/
    background-color: #fff600;
	background-image: url("img/min.png");
	background-repeat: no-repeat;
	background-position: left;

	font-weight: bold;
}

h1
{
	font-size: 22px;
	margin-top: 5px;
	margin-bottom: 5px;
    margin-left:15px;
}

h2
{
    font-size:18px;
    margin-top: 5px;
	margin-bottom: 5px;
    margin-left:15px;
    font-weight:normal;
}

h3
{
    font-size:14px;
    float:right;
    margin-top:25px;
    font-weight:normal;
}

span
{
	display: block;
}