@model BeoordelingProject.ViewModel.RapportVM

@{
    Layout = "";
}

<itext>
    <paragraph align="right" size="8">
        HOWEST - Campus Sint-Jorisstraat
        Bachelor in het onderwijs, lager onderwijs
    </paragraph>


    <paragraph align="Center" size="24">Bachelorproef</paragraph>

    <table>
        <row>
            <cell>@Model.Naam</cell>
        </row>
        <row>
            <cell>@Model.Academiejaar</cell>
        </row>
        <row>
            <cell>@Model.Richting</cell>
        </row>
        <row>
            <cell>@Model.Punt/20 </cell>
        </row>
    </table>
</itext>

