@model BeoordelingProject.ViewModel.AdminOverzichtVM
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
}
<script>
    angular.module("appModule").value("studentenlijst", @Html.Raw(Model.StudentenString));
</script>

<div id="container">
    <h1>Overzicht</h1>
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        
        <b><a class="uitloggen" href="javascript:document.getElementById('logoutForm').submit()">Log uit.</a></b>
        @Html.Label("Welkom " + User.Identity.Name.Split('.')[0] + "!", new { @class = "username" })
    }

    <input class="zoek" type="text" ng-model="searchText" placeholder="zoek..." id="zoekterm" />

    @foreach (var Opleidingitem in Model.Opleidingen)
    {
        <div class="richtingmin" onselect="return false" onclick="ShowStudentTabel(this)">
            @Html.DisplayFor(modelItem => Opleidingitem)
        </div>
        <table class="studentlist" style="display:block">
            <tr>
                <th ng-repeat="(i, th) in head" ng-class="selectedCls(i)" ng-click="changeSorting(i)">{{th}}</th>
                <th>Evaluatie rapport</th>
                <th>Feedback formulier</th>
            </tr>
            <tr ng-repeat="student in studenten | filter:{naam:searchText}"  ng-if="showOpleiding(student, '@Opleidingitem')">
                <td>{{student.naam}}</td>
                <td>2013-2014</td>
                <td>{{student.trajecttype}}</td>
                <td>0</td>
                <td>0</td>
                <td><a class="link" href="/Admin/GeneratePDFStudent/{{student.id}}">Toon Rapport</a></td>
                <td><a href="" class="link">Download</a></td>

            </tr>
        </table>
    }

</div>
