@model BeoordelingProject.ViewModel.AdminOverzichtVM

@{
    ViewBag.Title = "Index";
}
<script>
    angular.module("studentModule").value("studentenlijst", @Html.Raw(Model.StudentenString));
</script>

<div id="container">
    <h1>Overzicht</h1>

    <input class="zoek" type="text" ng-model="searchText" placeholder="zoek..." id="zoekterm" />
    <input class="zoekbutton" type="button" value="" id="zoek" />
    <!--
    <ul>
        <li ng-repeat="student in studenten | filter:searchText">{{student.naam}}</li>
    </ul>
    -->
    <hr />

    @foreach (var Opleidingitem in Model.Opleidingen)
    {
        <div class="richtingmin" onselect="return false" onclick="ShowStudentTabel(this)">
            @Html.DisplayFor(modelItem => Opleidingitem)
        </div>
        <table class="studentlist" style="display:block">
            <tr>
                <th>Student</th>
                <th>Academiejaar</th>
                <th>Traject</th>
                <th>Tussentijdse evaluatie</th>
                <th>Eind evaluatie</th>
                <th>Evaluatie rapport</th>
                <th>Feedback formulier</th>
            </tr> 
        <tr ng-repeat="student in studenten | filter:searchText" ng-if="showOpleiding(student, '@Opleidingitem')">
            <td>{{student.naam}}</td>
            <td>2013-2014</td>
            <td>{{student.trajecttype}}</td>
            <td>0</td>
            <td>0</td>
            <td><a href="">Download</a></td>
            <td><a href="">Download</a></td>
            
        </tr>

        </table>
    }

</div>
