@model BeoordelingProject.ViewModel.StudentKeuzeVM

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    angular.module("appModule").value("studentenlijst", @Html.Raw(Model.StudentenString));
</script>
<div id="container">
    <h1>Student keuze</h1>
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
        @Html.AntiForgeryToken()

        <b><a class="uitloggen" href="javascript:document.getElementById('logoutForm').submit()">Log uit.</a></b>
        @Html.Label("Welkom " + User.Identity.Name.Split('.')[0] + "!", new { @class = "username" })
    }
    <input class="zoek" type="text" ng-model="searchText" placeholder="zoek..." id="zoekterm" />
    <br /><br />
    <select size="@Model.Aantal" ng-model="studentRol">
        <option ng-repeat="student in studenten | filter:{naam:searchText}" value="{{student.studentRol}}">
            {{student.naam}} ({{student.opleiding}} - {{student.rol}})
        </option>
    </select>
    <div>
        <input type="radio" checked="checked" ng-model="matrixID" value="2" /> Tussentijdsbeoordeling | 
        <input type="radio" ng-model="matrixID" value="1" /> Eindbeoordeling
    </div>
    <a href="/Beoordelaar/Beoordeling?studentRol={{studentRol}}&matrix={{matrixID}}" class="actionbutton">Beoordelen</a>
</div>